<!DOCTYPE html>
<!--  Last Published: Sat Dec 17 2016 17:41:30 GMT+0000 (UTC)  -->
<body>

  <div class="hero">
    <div class="hero-overlay">
      <div class="hero-container w-container">
        <div class="hero-text-block">
          <h1 class="hero-title" data-ix="hero-title">Welcome to&nbsp;<strong>Black Suits Digital</strong></h1>
          <h1 class="hero-title word" data-ix="hero-title-2">DEVELOPMENT</h1>
          <h1 class="hero-title word" data-ix="hero-title-3">Design, Fun</h1>
          <h1 class="hero-title word" data-ix="hero-title-4">&amp;&nbsp;Creativity</h1>
          <h1 class="hero-title title-2" data-ix="hero-title-6">From LAUNCHING START-UPS, TO WORKING WITH ESTABLISHED BUSINESSES...WE DO IT ALL.</h1>
          
          <div class="hero-buttons-wrapper">

          <%= link_to "About Us", sales_about_path, class: "hero-button", :"data-ix" =>"hero-button" %>
          
          <%= link_to "Contact Us", sales_contact_path, class: "_2 hero-button", :"data-ix" =>"hero-button-2" %>

          </div>
        </div><img class="hero-image macbook" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 88vw, 834.375px" src="assets/Macbook.png" srcset="assets/Product-slider-1-p-500x264.png 500w, assets/Product-slider-1-p-800x422.png 800w, assets/Product-slider-1-p-1080x570.png 1080w, assets/Macbook.png 1500w"><img class="hero-image phone-white" src="assets/Mockup-iphone2.png"><img class="hero-image" src="assets/Mockup-iphone.png">
      </div><img sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 91vw, (max-width: 1700px) 100vw, 1700px" src="assets/BG-2.jpg" srcset="assets/BG-2-p-500x314.jpeg 500w, assets/BG-2-p-800x503.jpeg 800w, assets/BG-2-p-1080x678.jpeg 1080w, assets/BG-2-p-1600x1005.jpeg 1600w, assets/BG-2.jpg 1700w">
    </div>
  </div>
  <div class="section" id="about-us">
    <div class="centered container w-container">
      <div class="intro-row w-row">
        <div class="intro-column w-col w-col-4"><img class="intro-icon" src="/assets/Icon-speech.png">
          <h2 class="intro-column-title">About us</h2>
          <h2 class="intro-column-title subtitle">Welcome</h2>
          <p>Black Suits Digital was established because we have a strong passion for helping other businesses succeed. We strongly believe the way your business presents itself to potential clients is what separates a successful business from a failed one.</p>
        <%= link_to "Read more", sales_about_path, class: "below-paragraph link" %>
        </div>
        <div class="intro-column w-col w-col-4"><img class="intro-icon" src="assets/Icon-lock.png">
          <h2 class="intro-column-title">What we do</h2>
          <h2 class="intro-column-title subtitle">And like</h2>
          <p>What seperates us from the other digital agencies? We LOVE what we do. We LOVE helping others. We believe a great channel of communication is critical, so we use instant communication with all of our clients so we are all on the same page.</p>
          <%= link_to "Read more", sales_about_path, class: "below-paragraph link" %>

        </div>
        <div class="intro-column last w-col w-col-4"><img class="intro-icon" src="assets/Icon-stats.png">
          <h2 class="intro-column-title">Our products</h2>
          <h2 class="intro-column-title subtitle">&amp;&nbsp;Services</h2>
          <p>We only offer services we believe will increase revenue for your business. Websites, applications,branding, and marketing is what makes businesses money. We're here to help you get a jump start in the right direction so your business can be successful.</p>

            <%= link_to "Read more", sales_pricing_path, class: "below-paragraph link" %>
        </div>
      </div>
      <div class="intro-button-wrapper">
        <div class="intro-button-line"></div>
        <%= link_to "Discover more about us", sales_about_path, class: "button intro-button" %>
      </div>
    </div>
  </div>

  <div class="image-section">
    <div class="image-section-overlay" id="fix">
      <div class="container w-container"><img class="large-phone-mockup" data-ix="fade-on-scroll" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 541.25px, 656.9375px" src="assets/Mockup-iphones.png" srcset="assets/Mockup-iphones-p-500x606.png 500w, assets/Mockup-iphones-p-800x969.png 800w, assets/Mockup-iphones.png 847w">
        <div class="_2-column-row w-row">
          <div class="hide w-col w-col-6 w-hidden-small w-hidden-tiny"></div>
          <div class="checklist-column-right w-col w-col-6">
            <div class="column-title-block">
              <h2 class="column-title">whatever you need</h2>
              <h2 class="column-title subtitle">We can <strong>create</strong>, <strong>develop</strong> and <strong>design</strong> whatever you need.</h2>
              <div class="section-divider-line"></div>
            </div>
            <p>Our websites are completely responsive, they adapt to the users platform no matter what device they are using.</p>
            <ul class="check-list w-list-unstyled">
              <li class="check-list-item w-clearfix" data-ix="fade-on-scroll-right"><img class="check-list-icon" src="assets/Icon-check.png">
                <div class="checklist-title"><strong>All our sites are fully responsive. They work across all platforms.</strong>
                </div>
              </li>
              <li class="check-list-item w-clearfix" data-ix="fade-on-scroll-right"><img class="check-list-icon" src="assets/Icon-check.png">
                <div class="checklist-title"><strong>Elegant Professional Designs</strong>
                </div>
              </li>
              <li class="check-list-item w-clearfix" data-ix="fade-on-scroll-right"><img class="check-list-icon" src="assets/Icon-check.png">
                <div class="checklist-title"><strong>Fully functional from the back-end to the front-end</strong>
                </div>
              </li>
              <li class="check-list-item w-clearfix" data-ix="fade-on-scroll-right"><img class="check-list-icon" src="assets/Icon-check.png">
                <div class="checklist-title"><strong>Our sites are made to look great while bringing you conversions</strong>
                </div>
              </li>
              <li class="check-list-item w-clearfix" data-ix="fade-on-scroll-right"><img class="check-list-icon" src="assets/Icon-check.png">
                <div class="checklist-title"><strong>Your brand gets separated from the competition</strong>
                </div>
              </li>
              <li class="check-list-item w-clearfix" data-ix="fade-on-scroll-right"><img class="check-list-icon" src="assets/Icon-check.png">
                <div class="checklist-title"><strong>We make our sites feel alive</strong>
                </div>
              </li>
              <li class="check-list-item last w-clearfix" data-ix="fade-on-scroll-right"><img class="check-list-icon" src="assets/Icon-check.png">
                <div class="checklist-title"><strong>Customized to your needs</strong>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products section">
    <div class="container w-container">
      <div class="models-text-block">
        <h2 class="large-column-title">OUR SITES WORK ON ALL DEVICES &amp; MODELS</h2>
        <div class="models-divider section-divider-line"></div>
        <p>When we build a site, we make sure we make it's responsive so it works smoothly across all devices.&nbsp;</p>

        <%= link_to "Contact Us", sales_contact_path, class: "button dark" %>

      </div>
      <div class="models-slider w-slider" data-animation="slide" data-autoplay="1" data-delay="3000" data-duration="500" data-infinite="1">
        <div class="w-slider-mask">
          <div class="models-slide w-slide"><img class="model-image" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 360.296875px, 568.890625px" src="assets/Macbook.png" srcset="assets/Product-slider-1-p-500x264.png 500w, assets/Product-slider-1-p-800x422.png 800w, assets/Product-slider-1-p-1080x570.png 1080w, assets/Macbook.png 1500w">
            <h5 class="model-slider-title" data-ix="model-title-slide">iMac &amp;&nbsp;Macbook</h5>
            <h5 class="model-slider-title subtitle" data-ix="model-title-slide-2">iMac, Macbook,&nbsp;Macbook Pro,&nbsp;Air</h5>
          </div>
          <div class="models-slide w-slide"><img class="ipad model-image" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 360.296875px, 568.890625px" src="assets/Product-slider-2.png" srcset="assets/Product-slider-2-p-500x264.png 500w, assets/Product-slider-2-p-800x422.png 800w, assets/Product-slider-2-p-1080x570.png 1080w, assets/Product-slider-2.png 1500w">
            <h5 class="model-slider-title" data-ix="model-title-slide">Apple iPad</h5>
            <h5 class="model-slider-title subtitle" data-ix="model-title-slide-2">Air 2, Air, Mini 2, Mini, 4, 3, 2, 1</h5>
          </div>
          <div class="models-slide w-slide"><img class="iphone model-image" sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 400px, 530.96875px" src="assets/Product-slider-3.png" srcset="assets/Product-slider-3-p-500x264.png 500w, assets/Product-slider-3-p-800x422.png 800w, assets/Product-slider-3-p-1080x570.png 1080w, assets/Product-slider-3.png 1500w">
            <h5 class="model-slider-title" data-ix="model-title-slide">Apple iPhone</h5>
            <h5 class="model-slider-title subtitle" data-ix="model-title-slide-2">6 Plus, 6, 5s, 5c, 5, 4S, 4, 3GS, 3G</h5>
          </div>
        </div>
        <div class="model-slider-arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="model-slider-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-round w-slider-nav"></div>
      </div>
    </div>
  </div>

  <div class="image-section">
    <div class="_2 image-section-overlay">
      <div class="container w-container">
        <div class="centered section-title-block">
          <h2 class="section-title">We've got more to offer</h2>
          <h2 class="section-title subtitle">We are also happy to help you with:</h2>
          <div class="section-divider-line"></div>
        </div>
        <div class="features-row w-row">
          <div class="feature-column w-col w-col-4">
            <div class="feature-block">
              <h2 class="feature-title">branding</h2>
              <h2 class="feature-title subtitle">GET YOUR IDENTITY</h2>
              <div class="feature-divider section-divider-line"></div>
              <p>Your own branding is important, it lets your customers know who YOU are. Having a trustworthy and professional identity is important and will separate your business from the competition.</p>

              <%= link_to "Learn more", sales_pricing_path, class: "button feature-button" %>

            </div>
          </div>
          <div class="feature-column w-col w-col-4">
            <div class="feature-block">
              <h2 class="feature-title">Building websites</h2>
              <h2 class="feature-title subtitle">elegant designs</h2>
              <div class="feature-divider section-divider-line"></div>
              <p>We can build a website for your business, or even an application that your business needs. Contact us with more details for a free quote.</p>

              <%= link_to "Learn more", sales_pricing_path, class: "button feature-button" %>

            </div>
          </div>
          <div class="feature-column last w-col w-col-4">
            <div class="feature-block">
              <h2 class="feature-title">marketing</h2>
              <h2 class="feature-title subtitle">DRIVE tRAFFIC</h2>
              <div class="feature-divider section-divider-line"></div>
              <p>If you have a good website, good identity, but still not making conversions...then you need some marketing! We drive traffic to your business with the GOAL of increasing your conversions.</p>

              <%= link_to "Learn more", sales_pricing_path, class: "button feature-button" %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer" id="contact">
    <div class="centered container w-container">
      <div class="footer-row w-row">
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">Insights</div>
          <ul class="footer-list w-list-unstyled">
            <li class="footer-list-item"><a class="footer-link link" href="about-us.html">About us</a>
            </li>
            <li class="footer-list-item"><a class="footer-link link" href="pricing.html">Pricing</a>
            </li>
            <li class="footer-list-item"><a class="footer-link link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">Location</div>
          <ul class="footer-list w-list-unstyled">
            <li class="footer-list-item">
              <div class="footer-list-text">United States</div>
            </li>
          </ul>
        </div>
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">Contact</div>
          <ul class="footer-list w-list-unstyled">
            <li class="footer-list-item">
              <div class="footer-list-text"><strong>Skype us</strong>&nbsp;<a class="link footer-text-link" href="#">blacksuitsdigital@gmail.com</a>
              </div>
            </li>
            <li class="footer-list-item">
              <div class="footer-list-text"><strong>Mail us at</strong> <a class="link footer-text-link" href="#">blacksuitsdigital@gmail.com</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">Follow us</div>
          <p>Don’t forget to follow our news, updates and activities on:</p>
          <a class="footer-gray-social-block w-inline-block" href="https://www.facebook.com/BlackSuitsDigital/" target="_blank"><img class="footer-gray-social-icon" src="assets/Icon-facebook.png">
          </a>
          <a class="footer-gray-social-block w-inline-block" href="https://twitter.com/DigitalSuits" target="_blank"><img class="footer-gray-social-icon" src="assets/Icon-twitter.png">
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="w-container">
        <div class="bottom-footer-text">Copyright © Black Suits Digital<a class="footer-link" target="_blank" href="http://www.studiocorvus.com"><strong xmlns="http://www.w3.org/1999/xhtml"></strong></a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/my-agency-6c18e6.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

  <!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('tiwpg7bghpr6');
</script>
<!-- End of Async Drift Code -->

</body>
</html>